<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Attack1-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-12}</string>
                <key>spriteSize</key>
                <string>{60,62}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{1521,1},{60,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Attack1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-7}</string>
                <key>spriteSize</key>
                <string>{58,72}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{1359,75},{58,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Attack1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-4}</string>
                <key>spriteSize</key>
                <string>{54,78}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{1321,171},{54,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Attack1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{44,-2}</string>
                <key>spriteSize</key>
                <string>{122,82}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{647,133},{122,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Attack1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{47,16}</string>
                <key>spriteSize</key>
                <string>{130,118}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{681,1},{130,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Attack1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{47,18}</string>
                <key>spriteSize</key>
                <string>{130,122}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{557,1},{130,122}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Attack1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{47,29}</string>
                <key>spriteSize</key>
                <string>{130,144}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{425,1},{130,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Attack1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,18}</string>
                <key>spriteSize</key>
                <string>{82,122}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{563,133},{82,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Attack2-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,13}</string>
                <key>spriteSize</key>
                <string>{74,112}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{891,127},{74,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Attack2-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,12}</string>
                <key>spriteSize</key>
                <string>{74,110}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{901,1},{74,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Attack2-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,15}</string>
                <key>spriteSize</key>
                <string>{78,116}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{731,133},{78,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Attack2-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,19}</string>
                <key>spriteSize</key>
                <string>{78,124}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{811,127},{78,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Attack2-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{38,22}</string>
                <key>spriteSize</key>
                <string>{162,132}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{1,1},{162,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Attack2-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{37,21}</string>
                <key>spriteSize</key>
                <string>{150,142}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{281,1},{150,142}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Attack2-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{37,20}</string>
                <key>spriteSize</key>
                <string>{144,152}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{135,1},{144,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Attack2-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,1}</string>
                <key>spriteSize</key>
                <string>{68,90}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{1,165},{68,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Death-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,0}</string>
                <key>spriteSize</key>
                <string>{48,86}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{1227,99},{48,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Death-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,5}</string>
                <key>spriteSize</key>
                <string>{54,96}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{1151,201},{54,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Death-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,6}</string>
                <key>spriteSize</key>
                <string>{68,98}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{1097,1},{68,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Death-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{31,10}</string>
                <key>spriteSize</key>
                <string>{98,106}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{967,113},{98,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Death-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{35,13}</string>
                <key>spriteSize</key>
                <string>{108,112}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{431,147},{108,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Death-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{31,19}</string>
                <key>spriteSize</key>
                <string>{98,124}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{801,1},{98,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Death-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{35,-35}</string>
                <key>spriteSize</key>
                <string>{108,16}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{545,147},{108,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Fall-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,1}</string>
                <key>spriteSize</key>
                <string>{68,88}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{121,165},{68,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fall-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,5}</string>
                <key>spriteSize</key>
                <string>{66,96}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{1167,1},{66,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,6}</string>
                <key>spriteSize</key>
                <string>{60,98}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{1127,101},{60,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,8}</string>
                <key>spriteSize</key>
                <string>{58,102}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{371,153},{58,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,10}</string>
                <key>spriteSize</key>
                <string>{58,106}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{977,1},{58,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,10}</string>
                <key>spriteSize</key>
                <string>{58,106}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{1037,1},{58,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,8}</string>
                <key>spriteSize</key>
                <string>{60,102}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{309,153},{60,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,10}</string>
                <key>spriteSize</key>
                <string>{58,106}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{1067,109},{58,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,7}</string>
                <key>spriteSize</key>
                <string>{56,100}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{251,155},{56,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,7}</string>
                <key>spriteSize</key>
                <string>{58,100}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{191,155},{58,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{72,84}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{1235,1},{72,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-2}</string>
                <key>spriteSize</key>
                <string>{80,82}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{1277,87},{80,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Run-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-11}</string>
                <key>spriteSize</key>
                <string>{68,64}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{1485,71},{68,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Run-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-11}</string>
                <key>spriteSize</key>
                <string>{70,64}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{1377,149},{70,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Run-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{70,68}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{1249,187},{70,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Run-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-8}</string>
                <key>spriteSize</key>
                <string>{72,70}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{1309,1},{72,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Run-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-11}</string>
                <key>spriteSize</key>
                <string>{70,64}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{1419,73},{70,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Run-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-8}</string>
                <key>spriteSize</key>
                <string>{68,70}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{1381,1},{68,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Run-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-9}</string>
                <key>spriteSize</key>
                <string>{68,68}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{1451,1},{68,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Run-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-7}</string>
                <key>spriteSize</key>
                <string>{66,66}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{1485,137},{66,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Take hit-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,2}</string>
                <key>spriteSize</key>
                <string>{48,90}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{71,165},{48,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Take hit-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{36,88}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{1189,99},{36,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Take hit-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{38,82}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{1067,217},{38,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>evilwizard.png</string>
            <key>size</key>
            <string>{1582,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d3b6a441b3563251ae31ac32a63e43c7:69444eb32838764c3e3005d1b088b4c7:4de4b935ee48e879de7f3bf448eb761c$</string>
            <key>textureFileName</key>
            <string>evilwizard.png</string>
        </dict>
    </dict>
</plist>
