<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Attack-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,0}</string>
                <key>spriteSize</key>
                <string>{48,54}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{205,59},{48,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Attack-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,0}</string>
                <key>spriteSize</key>
                <string>{44,54}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{255,59},{44,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Attack-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,3}</string>
                <key>spriteSize</key>
                <string>{38,60}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{85,185},{38,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Attack-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,3}</string>
                <key>spriteSize</key>
                <string>{38,60}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{125,173},{38,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Attack-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,3}</string>
                <key>spriteSize</key>
                <string>{38,60}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{165,173},{38,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Attack-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,3}</string>
                <key>spriteSize</key>
                <string>{34,60}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{205,173},{34,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Attack-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{33,1}</string>
                <key>spriteSize</key>
                <string>{82,56}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{95,1},{82,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Attack-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{33,0}</string>
                <key>spriteSize</key>
                <string>{82,54}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{1,185},{82,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Attack2-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-1}</string>
                <key>spriteSize</key>
                <string>{36,52}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{283,115},{36,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Attack2-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-1}</string>
                <key>spriteSize</key>
                <string>{36,52}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{319,169},{36,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Attack2-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,0}</string>
                <key>spriteSize</key>
                <string>{36,54}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{149,117},{36,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Attack2-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,0}</string>
                <key>spriteSize</key>
                <string>{36,54}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{281,169},{36,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Attack2-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,0}</string>
                <key>spriteSize</key>
                <string>{36,54}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{321,113},{36,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Attack2-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{38,54}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{241,169},{38,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Attack2-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{28,18}</string>
                <key>spriteSize</key>
                <string>{92,90}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{1,1},{92,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Attack2-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{28,18}</string>
                <key>spriteSize</key>
                <string>{92,90}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{1,93},{92,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Attack3-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,1}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{95,59},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Attack3-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{50,54}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{153,59},{50,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Attack3-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-1}</string>
                <key>spriteSize</key>
                <string>{28,52}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{501,57},{28,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Attack3-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-3}</string>
                <key>spriteSize</key>
                <string>{42,48}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{409,111},{42,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Attack3-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-3}</string>
                <key>spriteSize</key>
                <string>{38,48}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{359,165},{38,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Attack3-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-3}</string>
                <key>spriteSize</key>
                <string>{38,48}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{459,161},{38,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Death-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-1}</string>
                <key>spriteSize</key>
                <string>{48,56}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{233,1},{48,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Death-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-4}</string>
                <key>spriteSize</key>
                <string>{54,46}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{483,1},{54,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Death-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-14}</string>
                <key>spriteSize</key>
                <string>{56,26}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{241,225},{56,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Death-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-19}</string>
                <key>spriteSize</key>
                <string>{58,16}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{125,235},{58,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,0}</string>
                <key>spriteSize</key>
                <string>{48,54}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{283,1},{48,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-1}</string>
                <key>spriteSize</key>
                <string>{48,52}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{351,57},{48,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-1}</string>
                <key>spriteSize</key>
                <string>{48,52}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{401,57},{48,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-1}</string>
                <key>spriteSize</key>
                <string>{48,52}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{451,57},{48,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Shield-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-3}</string>
                <key>spriteSize</key>
                <string>{42,48}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{453,111},{42,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Shield-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-3}</string>
                <key>spriteSize</key>
                <string>{36,48}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{357,205},{36,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Shield-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-3}</string>
                <key>spriteSize</key>
                <string>{40,48}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{407,205},{40,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Shield-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-3}</string>
                <key>spriteSize</key>
                <string>{42,48}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{409,161},{42,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sword_sprite-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-3}</string>
                <key>spriteSize</key>
                <string>{26,26}</string>
                <key>spriteSourceSize</key>
                <string>{92,102}</string>
                <key>textureRect</key>
                <string>{{299,225},{26,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sword_sprite-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-3}</string>
                <key>spriteSize</key>
                <string>{26,26}</string>
                <key>spriteSourceSize</key>
                <string>{92,102}</string>
                <key>textureRect</key>
                <string>{{499,169},{26,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sword_sprite-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-2}</string>
                <key>spriteSize</key>
                <string>{26,26}</string>
                <key>spriteSourceSize</key>
                <string>{92,102}</string>
                <key>textureRect</key>
                <string>{{503,197},{26,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sword_sprite-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-3}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{92,102}</string>
                <key>textureRect</key>
                <string>{{185,235},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sword_sprite-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-2}</string>
                <key>spriteSize</key>
                <string>{30,20}</string>
                <key>spriteSourceSize</key>
                <string>{92,102}</string>
                <key>textureRect</key>
                <string>{{499,147},{30,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sword_sprite-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{34,30}</string>
                <key>spriteSourceSize</key>
                <string>{92,102}</string>
                <key>textureRect</key>
                <string>{{497,111},{34,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sword_sprite-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,2}</string>
                <key>spriteSize</key>
                <string>{44,38}</string>
                <key>spriteSourceSize</key>
                <string>{92,102}</string>
                <key>textureRect</key>
                <string>{{457,211},{44,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sword_sprite-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{56,44}</string>
                <key>spriteSourceSize</key>
                <string>{92,102}</string>
                <key>textureRect</key>
                <string>{{187,115},{56,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Take Hit-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,0}</string>
                <key>spriteSize</key>
                <string>{48,54}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{333,1},{48,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Take Hit-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,0}</string>
                <key>spriteSize</key>
                <string>{48,54}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{383,1},{48,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Take Hit-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,54}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{95,117},{52,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Take Hit-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{52,56}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{179,1},{52,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Walk-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,0}</string>
                <key>spriteSize</key>
                <string>{48,54}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{433,1},{48,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Walk-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-1}</string>
                <key>spriteSize</key>
                <string>{48,52}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{233,115},{48,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Walk-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-1}</string>
                <key>spriteSize</key>
                <string>{48,52}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{359,111},{48,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Walk-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,0}</string>
                <key>spriteSize</key>
                <string>{48,54}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{301,57},{48,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>skeleton1.png</string>
            <key>size</key>
            <string>{530,252}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:451a2cbffff3b86746785c79691671bf:4f1643c6ba7de44eb559eb45a828cbc8:39d3603c11b982f2a8b848adbce6f6ee$</string>
            <key>textureFileName</key>
            <string>skeleton1.png</string>
        </dict>
    </dict>
</plist>
